@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>Este desafio me marcou pois foi diferente do modelo que estou acostumado a fazer e gostei muito de fazer esse teste. Foi utilizado .NET Core no padrão MVC.</p>
<p>Procurei dividir as responsabilidades de cada parte do código para facilitar o entendimento e melhorar na organização.</p>
