@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Israel Bárbara Stehling Pinto Coelho</h1>
    <h5> Cargo: Desenvolvedor .Net Pleno</h5>
    <h5> Pretensão salarial: R$ 5000,00</h5>
    <h5> Data Teste: 30/01/2023</h5>
</div>
